PORT=4004
DB_HOST=mysql
DB_USER=root
DB_PASS=
DB_NAME=rhoam_ekyc_service
DB_PORT=3306
DB_DIALECT=mysql
JWT_SECRET=JWT_SECRET
KAFKA_BROKERS=kafka:9092
KAFKA_CLIENT_ID=ekyc-service
BASEURL = http://localhost:3000
FILE_SERVICE_URL = "api/v1/file/"
SUMSUB_APP_TOKEN = sbx:7tUR4Ezot12ZUZTgwjTr5o3q.JKb8FwXOMTeAq54uJV4wYaTYP3V8fheU
SUMSUB_SECRET_KEY = ikrlNuDZ4uBCMQ11xeZLrV2NPvUD9lTi
SUMSUB_BASE_URL = https://api.sumsub.com
SUMSUB_LEVEL_ID_AND_LIVENESS=id-and-liveness
SUMSUB_LEVEL_ID_ONLY=id-only
SUMSUB_LEVEL_IDV_PHONE=idv-and-phone-verification