NODE_ENV=development
PORT=3000
ALLOWED_ORIGINS=http://localhost:3000,http://localhost:5173,http://localhost:8080
AUTH_SERVICE_URL=http://auth-service:4000
# USER_SERVICE_URL=http://user-service:4001
JWT_SECRET=JWT_SECRET
KAFKA_BROKERS=localhost:9092
KAFKA_CLIENT_ID=apigateway
INTERNAL_AUTH_URL=http://auth-service:4000/api/v1/auth
DB_HOST=127.0.0.1
DB_USER=root
DB_PASS=
DB_NAME=linkay_gateway_service
DB_PORT=3306
DB_DIALECT=mysql